
$primary-color: #7291b1;
$primary-color-shadow: #2c3e50;
$secondary-color: #781fa8;
$complementary-color: #B19172;
$monochromatic-color: #006BD5;
$item-color: white;

$small-breakpoint : 415px;
$medium-breakpoint: 650px;
$large-breakpoint:  1100px;
